<% comments.each do |comment| %>

  <div class="media border mb-3">
    <!--ユーザーのプロフィール画像-->
    <%= link_to admin_user_path(comment.user) do %>
      <%= image_tag comment.user.get_profile_image, size: "64x64", class:"bd-placeholder-img align-self-center rounded-circle mx-3 mt-2"; %>
    <% end %>

    <div class="media-body ml-4 p-3">
      <!--コメントの作成日時-->
      <p><%= comment.created_at.strftime('%Y/%m/%d') %><span  class="ml-3"><%= comment.user.user_name %></span></p>
      <!--コメント-->
      <div class="text-wrap"><p class="text-break"><%= comment.comment %></p></div>
      <!--コメントのユーザーが現在のユーザーなら-->

        <!--コメントの削除ボタン-->
        <%= link_to admin_post_comment_path(comment.post, comment), method: :delete, class:"text-dark", remote: true do %>
          <i class="fa-solid fa-trash-can"></i>
        <% end %>

    </div>

  </div>

<% end %>