<main class="page-search-result">
  <h1>検索結果</h1>
  <table>
    <thead>
      <tr>
        <th>Image</th>
        <th>Title</th>
        <th>Caption</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @results.each do |post| %>
        <tr>
          <td><%= image_tag post.image, size: "150x100" %></td>
          <td><%= post.title %></td>
          <td><%= post.caption %></td>
          <td><%= link_to 'Show', post %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= link_to 'Top', posts_path %>
</main>