<div>
  <%= image_tag @post.image, width: "300px", height: "200px" %>
  <p>ユーザーネーム：<%= @post.user.user_name %></p>
  <p>タイトル：<%= @post.title %></p>
  <p>投稿説明：<%= @post.caption %></p>
  <p>投稿ユーザー画像：<%= image_tag @post.user.get_profile_image, size: "64x64" %></p>
  <p>投稿日時：<%= @post.created_at.strftime('%Y/%m/%d') %></p>
  <% if @post.user == current_user %>
    <%= link_to "削除", post_path(@post.id), method: :delete, "data-confirm" => "本当に削除しますか？" %>
  <% end %>
</div>

<div>
  <p>コメント件数：<%= @post.comments.count %></p>
    <% @post.comments.each do |comment| %>
      <p><%= image_tag comment.user.get_profile_image, size: "64x64" %></p>
      <%= comment.user.user_name %>
      <%= comment.created_at.strftime('%Y/%m/%d') %><%= comment.comment %>
      <% if comment.user == current_user %>
        <%= link_to "削除", post_comment_path(comment.post, comment), method: :delete %>
      <% end %>
    <% end %>
</div>

<div>
  <%= form_with model: [@post, @comment] do |f| %>
    <%= f.text_area :comment, rows: '3', placeholder: "コメントをここに" %>
    <%= f.submit "送信する", class:"btn btn-info mt-2" %>
  <% end %>
</div>

<div>
  <% if @post.liked_by?(current_user) %>
  <p>
    <%= link_to post_likes_path(@post), method: :delete do %>
      <i class="fa-solid fa-heart"></i></i><%= @post.likes.count %> マッチョだね
    <% end %>
  </p>
  <% else %>
  <p>
    <%= link_to post_likes_path(@post), method: :post do %>
      <i class="fa-regular fa-heart"></i><%= @post.likes.count %> マッチョだね
    <% end %>
  </p>
  <% end %>
</div>