<div>
  <%= image_tag @post.image, width: "300px", height: "200px" %>
  <p>ユーザーネーム：<%= @post.user.user_name %></p>
  <p>タイトル：<%= @post.title %></p>
  <p>投稿説明：<%= @post.caption %></p>
  <p>投稿ユーザー画像：<%= image_tag @post.user.get_profile_image, size: "64x64" %></p>
  <p>投稿日時：<%= @post.created_at.strftime('%Y/%m/%d') %></p>
  <% if @post.user == current_user %>
    <%= link_to "削除", post_path(@post.id), method: :delete, "data-confirm" => "本当に削除しますか？" %>
  <% end %>
</div>
<!--コメント件数-->
<div id="comments_count">
  <%= render partial: "public/comments/comments_count", locals: { post: @post } %>
</div>
<!--投稿されたコメントを表示-->
<div id="comments_area">
  <%= render partial: "public/comments/comments", locals: { post: @post } %>
</div>
<!--コメントを入力するフォーム-->
<div id="comments_form">
    <%= render partial: "public/comments/comments_form", locals: { post: @post, comment: @comment } %>
</div>
<!--いいね-->
<div id="like_buttons_<%= @post.id %>">
  <%= render partial: "public/likes/likes", locals: { post: @post } %>
</div>