<main class="page-post-show">
  <div class="container">
    <div class="row">
      <div class="col-8 post-detail py-5">
        <div class="card w-60 mx-3 mt-4">

          <!--投稿画像-->
          <%= image_tag @post.image, class:"card-img-top"; %>
          <div class="card-body">
            <div class="row">

              <!--投稿者のプロフィール画像-->
              <div class="col-2">
                 <%= image_tag @post.user.get_profile_image, size: '64x64', class:"mt-3 rounded-circle";  %>
              </div>

              <div class="col-10">

                <!--投稿タイトル-->
                <p class="card-title">
                  <%= link_to(admin_post_path(@post.id), class:"text-dark") do %>
                    <span> <%= @post.title %></span>
                  <% end %>
                </p>

                <!--投稿内容-->
                <p class="card-title"><%= @post.caption %></p>

                <!--投稿者のユーザーネーム-->
                <span>
                  <i class="fas fa-user"></i>
                  <%= link_to "#{@post.user.user_name}", admin_user_path(@post.user) %> ｜
                </span>

                <!--投稿日-->
                <span><i class="fa-brands fa-creative-commons-share"></i> <%= @post.created_at.strftime('%Y/%m/%d') %> ｜ </span>

                <!--コメント数-->
                <span id="comments_count" class="mt-3">
                  <i class="fa fa-comment"></i>
                  <%= render partial: "admin/comments/comments_count", locals: { post: @post } %>
                　｜
                </span>

                <!--投稿削除ゴミバケツ-->
                <span>
                  <%= link_to  admin_post_path(@post), method: :delete, class:"text-dark", data: { confirm: "本当に消しますか？間違えていませんか？" } do %>
                    <i class="fa-solid fa-trash-can"></i>
                  <% end %>
                </span>

              </div>
            </div>

            <hr>

            <div id="comments_area" class="comments card-text">
              <%= render partial: "admin/comments/comments", locals: { comments: @comments } %>
            </div>
          </div>
        </div>
      </div>

      <!--メダル多い順-->
      <div class="col-4 py-5">
        <%= render partial: "public/posts/best_likes_posts", locals: { best_likes_posts: @best_likes_posts } %>
      </div>

    </div>
  </div>
</main>

