<div class="container">
  <div class="row">
    <div><%= flash[:notice] %></div>
    <div>
      <%= link_to  "Log out", destroy_admin_session_path, method: :delete, class:"btn btn-primary"%>
    </div>
  </div>
  <div class="row d-flex justify-content-center">
    <div class="col-10">
      <table class="table table-hover">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">user_name</th>
            <th scope="col">email</th>
            <th scope="col">会員ステータス</th>
            <th scope="col">showリンク</th>
            <th scope="col">destroyリンク</th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
          <tr>
            <th scope="row"><%= image_tag user.get_profile_image, size: "64x64", class: "rounded-circle" %></th>
            <td><%= user.user_name %></td>
            <td><%= user.email %></td>
            <td>
              <% if user.user_status == 1 %>
                有効会員
              <% else %>
                退会済み
              <% end %>
            </td>
            <td><%= link_to "詳細へ", admin_user_path(user), class: "btn btn-info" %></td>
            <td><%= link_to "消す", admin_user_path(user), method: :delete, data: { confirm: "本当に消しますか？間違えていませんか？" }, class: "btn btn-danger" %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
      <%= paginate @users %>
    </div>
  </div>
</div>

