<main class="page-users-show">
  <div class="container">

    <div class="row mt-3">
      <div class="col">
        <div class="row">
          <div class="col-md-3 text-center">
            <%= image_tag @user.get_profile_image, size: "120x120", class: "rounded-circle" %>
          </div>
          <div class="col-md-9 mt-md-3">
            <%= @user.introduction %>
          </div>
        </div>
      </div>
    </div>

    <div class="row mt-3 pb-2 border-bottom border-secondary">
      <div class="offset-md-1 col-md">
        <div class="row">
          <span class="ml-2 user_details">〜　<%= @user.user_name %>　〜</span>
        </div>
        <div class="row ml-2">
            <%= link_to edit_admin_user_path(@user.id) do %>
              <i class="fa-solid fa-user-gear fa-lg"></i>
            <% end %>
        </div>
        <div class="row ml-1">
          <span class="ml-2">P : <%= @user.protein %>g</span>
          <span class="ml-2">F : <%= @user.fat %>g</span>
          <span class="ml-2">C : <%= @user.carbo %>g</span>
        </div>
      </div>

      <div class="col-md ">
        <div class="row ml-2 user_details">
          <% if @user.goal.blank? %>
            No Goal
          <% else %>
            <%= @user.goal %>
          <% end %>
        </div>
        <div class="row ml-2">
          投稿<%= @posts.count %>件
        </div>
        <div class="row ml-2">
          <i class="fa-sharp fa-solid fa-medal" aria-hidden="true" style="color: gold;"></i>
          <span style="color: gold;"><%= @user.likes.count %>　</span>
        </div>
      </div>

      <div class="col-md">
        <div class="row ml-2">
          <!--フォローされている人の数-->
          <span id="follower_count">
            <%= render partial: "admin/relationships/follower_count", locals: { user: @user } %>
          </span>

          <!--フォローしている人の数-->
          <span id="following_count">
          　<%= render partial: "admin/relationships/following_count", locals: { user: @user } %>
          </span>
        </div>

        <div class="row ml-2">
          <% if @user.user_status != 0 %>
            <div style="color: green;">会員カテゴリ ：　<%= @user.user_type %></div>
          <% else %>
            <div style="color: red;">このユーザーは退会しています</div>
          <% end %>
        </div>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col d-flex flex-wrap mt-3">
        <% @posts.each do |post| %>
          <div class="col-3">
            <%= link_to admin_post_path(post) do %>
              <%= image_tag post.image.variant( resize: "300x200>" ).processed, class: "img-fluid" %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>

  </div>
</main>