<main>
  <div class="container">

    <div class="row d-lg-none  mt-2">
      <div class="offset-2 col-8">
        <div class="row border-bottom">
          <h3 class="mx-auto mt-5 mb-0">ユーザー情報編集</h3>
        </div>
        <%= form_with model: @user do |f| %>

          <div class="row mt-3">
            <div class="col">
              <%= f.file_field :profile_image, accept: "image/*" %>
            </div>
          </div>

          <div class="row mt-3">
            <div class="col">
              <%= f.email_field :email, class: "form-control" %>
            </div>
          </div>

          <div class="row mt-3">
            <div class="col">
              <%= f.text_field :user_name, class: "form-control" %>
            </div>
          </div>

          <div class="row mt-3">
            <% if @user.goal == nil || @user.goal == "" %>
              <div class="col">
                <%= f.text_field :goal, class: "form-control", placeholder: "目標を定めよう！(50字以内)" %>
              </div>
            <% else %>
              <div class="col">
                <%= f.text_field :goal, class: "form-control" %>
              </div>
            <% end %>
          </div>

          <div class="row mt-3">
            <div class="col-1 d-flex align-items-center">
              <div>P:</div>
            </div>
            <div class="col">
              <%= f.text_field :protein, class: "form-control" %>
            </div>
          </div>

          <div class="row mt-3">
            <div class="col-1 d-flex align-items-center">
              <div>F:</div>
            </div>
              <div class="col"><%= f.text_field :fat, class: "form-control" %></div>
          </div>

          <div class="row mt-3">
            <div class="col-1 d-flex align-items-center">
              <div>C:</div>
            </div>
              <div class="col"><%= f.text_field :carbo, class: "form-control" %></div>
          </div>

          <div class="row mt-3">
            <div class="col">
              <%= f.select :user_type, User.user_types.keys.map {|k| [k, k]}, {}, { class: 'form-control' , required: true, data: {} } %>
            </div>
          </div>

          <div class="row mt-3">
            <% if @user.introduction == nil || @user.introduction == "" %>
              <div class="col">
                <%= f.text_area :introduction, rows: '3', class: "form-control", placeholder: "自己紹介をしよう！(100字以内)" %>
              </div>
            <% else %>
              <div class="col">
                <%= f.text_area :introduction, rows: '3', class: "form-control" %>
              </div>
             <% end %>
          </div>

          <div class="row mt-3">
            <div class="col-4 d-flex justify-content-center">
              <%= link_to user_path(current_user) do %>
                <i class="fa-regular fa-user"></i>
              <% end %>
            </div>
            <% if @user == current_user %>
              <div class="col-4 d-flex justify-content-center">
                <%= f.submit '保　存', class: "btn btn-outline-primary btn-sm mb-2" %>
              </div>
            <% end %>
        <% end %>
          <div class="col-4 d-flex justify-content-center">
            <%= link_to unsubscribe_path(current_user) do %>
              <i class="fa-solid fa-trash-can"></i>
            <% end %>
          </div>

        </div>
      </div>
    </div>

    <div class="row d-none d-lg-block my-3">

      <div class="offset-2 col-8">
        <div class="row border-bottom">
          <h3 class="mx-auto mt-5 mb-0">ユーザー情報編集</h3>
        </div>
        <%= form_with model: @user do |f| %>

          <div class="row mt-3">
            <div class="offset-1 col-3">
              プロフィール画像
            </div>
            <div class="col-8">
              <%= f.file_field :profile_image, accept: "image/*" %>
            </div>
          </div>

          <div class="row mt-3">
            <div class="offset-1 col-3">
              メールアドレス
            </div>
            <div class="col-8">
              <%= f.email_field :email, class: "form-control" %>
            </div>
          </div>

          <div class="row mt-3">
            <div class="offset-1 col-3">
              ユーザーネーム
            </div>
            <div class="col-8">
              <%= f.text_field :user_name, class: "form-control" %>
            </div>
          </div>

          <div class="row mt-3">
            <div class="offset-1 col-3">
              ゴール(50字以内)
            </div>
            <div class="col-8">
              <%= f.text_field :goal, class: "form-control" %>
            </div>
          </div>

          <div class="row mt-3">
            <div class="offset-1 col-3">
              タンパク質
            </div>
            <div class="col-8">
              <%= f.text_field :protein, class: "form-control" %>
            </div>
          </div>

          <div class="row mt-3">
            <div class="offset-1 col-3">
              脂質
            </div>
            <div class="col-8">
              <%= f.text_field :fat, class: "form-control" %>
            </div>
          </div>

          <div class="row mt-3">
            <div class="offset-1 col-3">
              炭水化物
            </div>
            <div class="col-8">
              <%= f.text_field :carbo, class: "form-control" %>
            </div>
          </div>

          <div class="row mt-3">
            <div class="offset-1 col-3">
              会員カテゴリ
            </div>
            <div class="col-8">
              <%= f.select :user_type, User.user_types.keys.map {|k| [k, k]}, {}, { class: 'form-control' , required: true, data: {} } %>
            </div>
          </div>

          <div class="row mt-3">
            <div class="offset-1 col-3">
              自己紹介(100字以内)
            </div>
            <div class="col-8">
              <%= f.text_area :introduction, rows: '3', class: "form-control" %>
            </div>
          </div>

          <div class="row mt-3">
            <div class="col-4 d-flex justify-content-center">
              <%= link_to "マイページ", user_path(current_user), class: "btn btn-outline-info" %>
            </div>
            <% if @user == current_user %>
              <div class="col-4 d-flex justify-content-center">
                <%= f.submit '保　存', class: "btn btn-outline-primary" %>
              </div>
            <% end %>
        <% end %>
          <div class="col-4 d-flex justify-content-center">
            <%= link_to "退会確認画面", unsubscribe_path(current_user), class: "btn btn-outline-danger" %>
          </div>

        </div>
      </div>

    </div>

  </div>
</main>