<main class="page-users-index">
  <div class="container-xl">

    <div class="row mt-2 border-bottom">

      <div class="col-1 p-0">
          <%= link_to user_path(current_user) do %>
            <%= image_tag current_user.get_profile_image, size: "50x50", class: "rounded-circle" %>
          <% end %>
      </div>
      <div class="col-11 d-flex align-items-center">
        <span class="pl-2">
          <%= link_to user_path(current_user) do %>
            <%= current_user.user_name %>
          <% end %>
          </span>
        <span class="ml-2">P : <%= current_user.protein %>g</span>
        <span class="ml-2">F : <%= current_user.fat %>g</span>
        <span class="ml-2">C : <%= current_user.carbo %>g</span>
      </div>

    </div>

    <div class="row d-none d-md-block  mt-1 border-bottom">
      <% @users.each do |user| %>
        <%= link_to user_path(user) do %>
          <%= image_tag user.get_profile_image, size: "50x50", class: "rounded-circle" %>
        <% end %>
      <% end %>
    </div>

    <div class="row">
      <div class="col-md-8">
        <% @posts.each do |post| %>
          <div class="card border-0 mb-3">

            <div class="card-header p-0 d-flex align-items-center bg-white">
              <%= link_to user_path(post.user) do %>
                <%= image_tag post.user.get_profile_image, size: "50x50", class: "rounded-circle" %>
              <% end %>

              <%= link_to user_path(post.user) do %>
                <strong><%= post.user.user_name %></strong>
              <% end %>

              <span><%= post_time(post) %></span>
            </div>

            <div class="post-image bd-placeholder-img card-img-top">
              <%= link_to post_path(post.id) do %>
                <%= image_tag post.image, class: "img-fluid" %>
              <% end %>
            </div>

            <div class="card-body py-1">

              <div class="row m-0">
                <div id="like_buttons_<%= post.id %>" class="mr-3">
                  <%= render partial: "public/likes/likes", locals: { post: post } %>
                </div>
                <%= link_to post_path(post) do %>
                  <i class="fa-regular fa-message fa-lg"></i>
                <% end %>
              </div>
              <div class="row"><h5 class="card-title"><%= post.title %></h5></div>

            </div>

            <div class="card-footer text-muted border-top-0 border-bottom bg-white pt-1">
              <div id="comments_form" class="form-group">
                <%= render partial: "public/comments/comments_form", locals: { post: post, comment: @comment } %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>

  </div>
</main>