<main class="page-users-index">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-3">
        <%= render 'public/users/info' %>
      </div>
      <div class="col-lg-5">
        <% @posts.each do |post| %>
        <div class="card">
          <div class="card-header p-0 d-flex align-items-center">
            <!--ユーザー画像-->
              <%= link_to user_path(post.user) do %>
                <%= image_tag post.user.get_profile_image, size: "50x50", class: "rounded-circle" %>
              <% end %>
              <!--ユーザーネーム-->
              <%= link_to user_path(post.user) do %>
                <strong><%= post.user.user_name %></strong>
              <% end %>
          </div>
          <div class="post-image bd-placeholder-img card-img-top">
            <%= link_to post_path(post.id) do %>
            <% if post.image.present? %>
              <%= image_tag post.image, width: "100%", height: "600px" %>
            <% else %>
              <%= image_tag 'no_image.jpg', width: "100%", height: "600px" %>
            <% end %>
          <% end %>
          </div>
          <div class="card-body">
            <h5 class="card-title"><%= post.title %></h5>
            <p class="card-text"><%= post.caption %></p>
            <!--いいね-->
            <div id="like_buttons_<%= post.id %>">
              <%= render partial: "public/likes/likes", locals: { post: post } %>
            </div>
          </div>
          <div class="card-footer text-muted">
            2 days ago
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</main>