<main class="page-users-index">
  <div class="container-xl">

    <div class="row d-lg-none border-bottom mt-2">

      <div class="col-1 p-0">
        <%= link_to user_path(current_user) do %>
          <%= image_tag current_user.get_profile_image, class: "rounded-circle icon-50" %>
        <% end %>
      </div>
      <div class="col-11 d-flex align-items-center">
        <span class="pr-2">
          <%= link_to user_path(current_user) do %>
            <%= current_user.user_name %>
          <% end %>
          </span>
        <span class="ml-2">P : <%= current_user.protein %>g</span>
        <span class="ml-2">F : <%= current_user.fat %>g</span>
        <span class="ml-2">C : <%= current_user.carbo %>g</span>
        <% if current_user.email != "guest@example.com" %>
          <span class="ml-2">
            <%= link_to new_post_path do %>
              <i class="fa-solid fa-pen-to-square"></i>
            <% end %>
          </span>
          <span class="ml-2">
            <%= link_to new_shokuyoku_post_path do %>
              <i class="fa-solid fa-bacon"></i>
            <% end %>
          </span>
          <span class="ml-2">
            <%= link_to new_zasetsu_post_path do %>
              <i class="fa-solid fa-face-tired"></i>
            <% end %>
          </span>
        <% end %>
      </div>

    </div>

    <div class="row d-none d-md-block my-3 border-top border-bottom">
      <% @users.each do |user| %>
        <%= link_to user_path(user) do %>
          <%= image_tag user.get_profile_image, class: "rounded-circle icon-50" %>
        <% end %>
      <% end %>
    </div>
    <div class="row d-md-none mt-1 border-bottom">
      <%= render partial: "public/posts/best_likes_posts", locals: { best_likes_posts: @best_likes_posts } %>
    </div>
    <div class="row">
      <div class="d-none d-lg-block col-2 mt-3">
        <div class="col p-0">
          <%= render 'public/users/info' %>
        </div>
      </div>
      <div class="col-md-6">
        <% @posts.each do |post| %>
          <div class="card border-0 mb-3">

            <div class="card-header p-0 d-flex align-items-center bg-white">
              <%= link_to user_path(post.user) do %>
                <%= image_tag post.user.get_profile_image, class: "rounded-circle icon-50" %>
              <% end %>

              <%= link_to user_path(post.user) do %>
                <strong><%= post.user.user_name %></strong>
              <% end %>

              <span><%= post_time(post) %></span>
            </div>

            <div class="post-image bd-placeholder-img card-img-top">
              <%= link_to post_path(post.id) do %>
                <%= image_tag post.image, class: "img-fluid" %>
              <% end %>
            </div>

            <div class="card-body py-1">

              <div class="row m-0">
                <div id="like_buttons_<%= post.id %>" class="mr-3">
                  <%= render partial: "public/likes/likes", locals: { post: post } %>
                </div>
                <%= link_to post_path(post) do %>
                  <i class="fa-regular fa-message fa-lg"></i>
                <% end %>
              </div>
              <div class="row"><h5 class="card-title"><%= post.title %></h5></div>

            </div>

            <div class="card-footer text-muted border-top-0 border-bottom bg-white pt-1">
              <div class="form-group">
                <% if current_user.user_name != "guestuser" %>
                  <%= form_with model: [post, @comment],url: post_show_comments_create_path(post_id: post.id), local: false do |f| %>
                    <%= f.text_area :comment, rows: '1', class: "form-control", placeholder: "メッセージをここに(120文字)", id: "comment_#{post.id}" %>
                    <%= f.submit "メッセージを届ける", class:"btn btn-outline-info mt-2" %>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <div class="d-none d-md-block col-4">
        <%= render partial: "public/posts/best_likes_posts", locals: { best_likes_posts: @best_likes_posts } %>
      </div>
    </div>

  </div>
</main>