<main class="page-users-show">
  <div class="container-lg">
    <div class="row d-flex justify-content-center">
      <%= flash[:notice]%>
      <div class="col">
        <div class" border">
          <div class="media">
            <%= image_tag @user.get_profile_image, size: "64x64", class: "mr-3" %>
            <div class="media-body">
              <div class="row">
                <span><%= @user.user_name %></span>
                <span>P:<%= @user.protein %>g</span>
                <span>F:<%= @user.fat %>g</span>
                <span>C:<%= @user.carbo %>g</span>
                <span>
                  <% if @user.user_name != "guestuser" %>
                    <% if current_user == @user%>
                      <%= link_to edit_user_path(@user.id) do %>
                      <i class="fa-solid fa-user-gear fa-lg"></i>
                      <% end %>
                    <% end %>
                  <% end %>
                </span>
              </div>
              <div class="row">
                <% if @user.goal.blank? %>
                  あなたはまだ目標を定めていません
                <% else %>
                  あなたの理想は　<%= @user.goal %>　です
                <% end %>
              </div>
              <div class="row">
                <span>投稿<%= @post.count %>件　｜　</span>
                <span>
                  <%= link_to likes_user_path(@user) do %>
                    <i class="fa-sharp fa-solid fa-medal" aria-hidden="true" style="color: gold;"></i><%= @user.likes.count %>
                  <% end %>　｜　
                </span>
                
                <span id="follower_count"><!--フォローされている人の数-->
                  <%= render partial: "public/relationships/follower_count", locals: { user: @user } %>　｜　
                </span>
                <span id="following_count"><!--フォローしている人の数-->
                  <%= render partial: "public/relationships/following_count", locals: { user: @user } %>　
                </span>
                <span id="user_follow_btn"><!--フォローボタン-->
                  <%= render partial: "public/relationships/follow_btn", locals: { user: @user } %>
                </span>
              </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--投稿一覧-->
    <div class="row">
      <div class="col-3">
      </div>
    </div>
  </div>
</main>