<header class="shadow-md">
<nav class="navbar navbar-expand-lg">
    <div class="container">
      <% if user_signed_in? %>
        <%= link_to users_path(current_user), class: "navbar-brand text-light" do %>
          <span>Dera_Pro_Ummai</span>
        <% end %>
      <% elsif admin_signed_in? %>
        <%= link_to admin_users_path, class: "navbar-brand text-light" do %>
          <span>Dera_Pro_Ummai</span>
        <% end %>
      <% else %>
        <%= link_to root_path, class: "navbar-brand text-light" do %>
          <span>Dera_Pro_Ummai</span>
        <% end %>
      <% end %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                   aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
          <% if user_signed_in? %><!--ログイン済みならelseまでの処理-->
          <li class="nav-item">
            <%= link_to users_path, class:"nav-link text-light" do %>
              <i class="fas fa-home"></i>
              Home
            <% end %>
          </li>

          <li class="nav-item">
            <%= link_to notifications_path, class:"nav-link text-light" do %>
              <i class="fa-regular fa-bell"></i>
              通知
            <% end %>
          </li>

          <li class="nav-item">
            <%= link_to posts_path, class:"nav-link text-light" do %>
              <i class="fa-solid fa-book-open"></i>
              投稿一覧
            <% end %>
          </li>

          <li class="nav-item">
            <%= link_to newcomer_path, class:"nav-link text-light" do %>
              <i class="fas fa-book-open"></i>
              ルール
            <% end %>
          </li>

          <li class="nav-item">
            <%= link_to destroy_user_session_path, method: :delete, class:"nav-link text-light" do %>
              <i class="fas fa-sign-out-alt"></i>
              Log out
            <% end %>
          </li>

          <!--adminログイン済み-->
          <% elsif admin_signed_in? %>
          <li class="nav-item">
            <%= link_to admin_root_path, class:"nav-link text-light" do %>
              <i class="fas fa-home"></i>
              管理画面
            <% end %>
          </li>

          <li class="nav-item">
            <%= link_to about_path, class:"nav-link text-light" do %>
              <i class="fa-solid fa-book-open"></i>
              About
            <% end %>
          </li>

          <li class="nav-item">
            <%= link_to newcomer_path, class:"nav-link text-light" do %>
              <i class="fas fa-book-open"></i>
              ルール
            <% end %>
          </li>

          <li class="nav-item">
            <%= link_to destroy_user_session_path, method: :delete, class:"nav-link text-light" do %>
              <i class="fas fa-sign-out-alt"></i>
              Log out
            <% end %>
          </li>

          <!--未ログイン-->
          <% else %>
          <li class="nav-item">
            <%= link_to root_path, class:"nav-link text-light" do %>
              <i class="fas fa-home"></i>
              Home
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to about_path, class:"nav-link text-light" do %>
              <i class="fa-regular fa-comment"></i>
              About
            <% end %>
           </li>
           <li class="nav-item">
            <%= link_to new_user_registration_path, class:"nav-link text-light" do %>
              <i class="fas fa-user-plus"></i>
              Sign up
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to new_user_session_path, class:"nav-link text-light" do %>
              <i class="fas fa-sign-in-alt"></i>
              Log in
            <% end %>
          </li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>

